@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap');

:root {
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;

}
nav{
  background-color: #fdfdfc;
  box-shadow: 2px 2px 5px lightgray;
}

.menu-item ul {
  color:#639194
}

.btn-primary-custom:hover{
  color: rgb(80, 79, 79);
}
.btn-primary-custom{
  padding: 10px 70px;
  background-color: #639194;
  border-radius: 10px;
  box-shadow: 2px 2px 1px  rgb(191, 196, 195);
  color: white;
  font-size: 22px;
}
.btn-secondary-custom:hover{
  color: rgb(80, 79, 79);
}
.btn-secondary-custom{
  padding: 10px 70px;
  background-color: #d3c6af;
  border-radius: 10px;
  box-shadow: 2px 2px 1px  rgb(191, 196, 195);
  color: white;
  font-size: 22px;
}